<footer>
    <div class="row">
        <div class="logo">
            <img src="assets/images/logo_KMA.svg" width="135" height="52">
        </div>
        <div id="footer" class="row">
            <div class="copyright">
                <p>Copyright © 2016 AuctionKMA • <a href="http://www.ukma.edu.ua/eng/"/> National University of
                    Kyiv-Mohyla Academy •&nbsp;</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery JavaScript
<script src="js/profile.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="/Frontend/www/less/home.less"/>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../src/main.js"></script>

<script src="scripts/require.js">
    var authoriation = require('./authorization');
    function authorize () {

    }
</script>

</body>
</html>