<!DOCTYPE html>
<!--suppress ALL -->
<title>KMA AUCTION</title>
<head lang="uk">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<!-- Bootsrap CSS -->
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- LESS основний файл -->
<link rel="stylesheet/less" type="text/css" href="less/main.less"/>
<!-- LESS JavaScript компілятор -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>

<header>



    <div class="logo">
        <img src="assets/images/logo_KMA.svg">
    </div>



    <ul class="header-nav">
        <li><a href="/">Home</a></li>
        <li><a href="lots.html">Lots</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
</header>
<body>


