<% include header.ejs%>
<div class="container">
    <div class="center">
        <div id="breadcrumbs">
            <a href="home.html">HOME</a>
        </div>
    </div>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 90%;
        margin: auto;
    }
</style>
    <div>

    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="http://www.pixelstalk.net/wp-content/uploads/2015/06/Emma-Watson-hot-style-wallpaper.jpg"
                     alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Chania</h3>
                    <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="http://wallpapercave.com/wp/wc1733416.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Chania</h3>
                    <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="http://www.pixelstalk.net/wp-content/uploads/2015/06/Attractive-Model-Emma-Watson-Wallpaper-620x465.jpg"
                     alt="Flower" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Flowers</h3>
                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                </div>
            </div>
            <div class="item">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSExwNeVHiyurpVF45dSRw8nGl2YHikqAEWPZxhbJAX3myEGWsrdA"
                     alt="Flower" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Flowers</h3>
                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer.ejs%>
