<% include header.ejs%>
</header>
<body>
<div class="container">
    <div class="center">
        <div id="breadcrumbs">
            <a href="/">HOME</a>
        </div>
        <div class="naukma-title">
            NAUKMASHECHKA
        </div>
        <div class="filters">
            <ul id="sort">
                <li class="filter">
                    <p>Sort by</p>
                    <select class="select-filter">
                        <option value="all">All</option>
                        <option value="newest">Oldest to Newest</option>
                        <option value="oldest">Newest to oldest</option>
                    </select>
                    <span></span>
                </li>
                <li class="filter">
                    <p>Sort by price</p>
                    <select class="select-filter">
                        <option value="All">All</option>
                        <option value="best-selling">Best selling</option>
                    </select>
                </li>
                <li class="filter">
                    <p>Sort by name</p>
                    <select class="select-filter">
                        <option value="All">All</option>
                        <option value="name-ascending">A-Z</option>
                        <option value="name-descending">Z-A</option>
                    </select>
                </li>
                <li class="filter">
                    <p>Sort by gender</p>
                    <select class="select-filter">
                        <option value="All">All</option>
                        <option value="man">Mrs</option>
                        <option value="woman">Mr</option>
                    </select>
                </li>
            </ul>

        </div>
    </div>

    <!-- Button to go up-->

    <a href="#" class="scrollup btn btn-lg" style="display: inline;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

    <script>
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
        $('.scrollup').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });
    </script>

    <div class="content row">
        <div class="person-content col-lg-4 col-md-6 col-sm-6">
            <a href="person.html"> <img
                    src="https://cdn.shopify.com/s/files/1/0328/8037/products/5BORO_5B_X_GA_Longsleeve_Back_large.jpg?v=1480302364"></a>
        </div>
        <div class="person-content col-lg-4 col-md-6 col-sm-6">
            <a href="person.html"> <img
                    src="https://cdn.shopify.com/s/files/1/0328/8037/products/5BORO_5B_X_GA_Longsleeve_Back_large.jpg?v=1480302364"></a>
        </div>
        <div class="person-content col-lg-4 col-md-6 col-sm-6">
            <a href="person.html"> <img
                    src="https://cdn.shopify.com/s/files/1/0328/8037/products/5BORO_5B_X_GA_Longsleeve_Back_large.jpg?v=1480302364"></a>
        </div>
    </div>
</div>
<% include footer.ejs%>