<% include header.ejs %>
<div class="container">
    <div class="center">
        <div id="breadcrumbs">
            <a href="/">HOME</a>
        </div>
        <div class="naukma-title">
            NAUKMASHECHKA
        </div>
        <div class="filters">
            <ul id="sort">
                <li class="filter">
                    <p>Sort by</p>
                    <select class="select-filter" id="time_select">
                        <option value="all">All</option>
                        <option value="newest">Oldest to Newest</option>
                        <option value="oldest">Newest to oldest</option>
                    </select>
                    <span></span>
                </li>
                <li class="filter">
                    <p>Sort by price</p>
                    <select class="select-filter" id="price_select">
                        <option value="All">All</option>
                        <option value="best-selling">Best selling</option>
                    </select>
                </li>
                <li class="filter">
                    <p>Sort by name</p>
                    <select class="select-filter" id="name_select">
                        <option value="All">All</option>
                        <option value="name-ascending">A-Z</option>
                        <option value="name-descending">Z-A</option>
                    </select>
                </li>
                <li class="filter">
                    <p>Sort by gender</p>
                    <select class="select-filter" id="gender_select">
                        <option value="All">All</option>
                        <option value="man">Mrs</option>
                        <option value="woman">Mr</option>
                    </select>
                </li>
                <li>
                    <button onclick="sortLots()">Sort</button>
                </li>
            </ul>

        </div>
    </div>
    <a href="#" class="scrollup btn btn-lg" style="display: inline;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

    <div class="content row" id="list">
        <div class="person-content col-lg-4 col-md-4 col-sm-4">
            <a href="person.html"> <img
                        src="http://i.dailymail.co.uk/i/pix/2016/02/05/19/30EB4E8F00000578-3434049-image-a-40_1454702360144.jpg"></a>
        </div>
        <div class="person-content col-lg-4 col-md-4 col-sm-4">
            <a href="person.html"> <img
                        src="http://i.dailymail.co.uk/i/pix/2016/02/05/19/30EB4E8F00000578-3434049-image-a-40_1454702360144.jpg"></a>
        </div>
        <div class="person-content col-lg-4 col-md-4 col-sm-4">
            <a href="person.html"> <img
                        src="http://i.dailymail.co.uk/i/pix/2016/02/05/19/30EB4E8F00000578-3434049-image-a-40_1454702360144.jpg"></a>
        </div>
    </div>

    <!-- Button to go up-->
    <a href="#" class="scrollup btn btn-lg" style="display: inline;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

</div>
    <!-- Button to go up-->


    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
        $('.scrollup').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });
    </script>

<% include footer.ejs %>