<% include header.ejs%>
<div class="container">
    <div id="breadcrumbs">
        <a href="home.html">HOME</a>
        <div class="separator">>></div>
        <a href="home.html">AUCTION</a>
    </div>
    <div class="row">
        <div id="person">
            <div class="person-photo col-lg-6 col-md-6 center">
                <img src="https://s-media-cache-ak0.pinimg.com/564x/66/db/c7/66dbc7542d342a21e916b0fac160e9b7.jpg">
            </div>
            <div class=" col-lg-6 col-md-6">
                <div class="person-right">
                    <div class="person-name"> Emma Watson</div>

                    <div type="button" onclick="addFavourite()" class="favourite"><span id="starEmpty" class="glyphicon glyphicon-star-empty"></span>
                        <span id="star" class="glyphicon glyphicon-star"></span></div>

                    <div class="person-description"> Heya wanna meet up cowbow ?</div>
                    <div class="comments">
                        <div class="comment">

                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" data-src="holder.js/64x64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Comments</h4>
                                        Wow im surprised to c u here
                                        <!-- Nested media object -->
                                        <div class="media">
                                            Wow im surprised to c u here
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addFavourite() {
        document.getElementById('starEmpty').style.display = 'none';
        document.getElementById('star').style.display='block';
    }

</script>
<% include footer.ejs%>