<div class="person-content col-lg-4 col-md-6 col-sm-6">
    <h2 class="profile_name"><% lot.name%></h2>
    <span class="price"><% lot.price%></span>
    <span class="gender"><% lot.gender%></span>
    <a href="person.html"> <img
                src="<% lot.imgSrc%>"></a>
</div>